.test {
  color: #000;
  font-weight: normal; }
  .test__bem {
    color: inherit; }
    .test__bem__child {
      font-size: 10px; }
  .test__bem--test:after {
    content: "";
    display: block; }
