.test {
  color: #000;
  font-weight: normal;
  &__bem {
    color: inherit;
    &__child {
      font-size: 10px;
    }
  }
  &__bem--test {
    &:after {
      content: "";
      display: block;
    }
  }
}
